.btn {
    font: 400 normal 18px 'Quicksand', sans-serif;
    text-decoration: none;
    display: inline-block;
    color: var(--white);
    padding: 8px;
    border: none;
}

.btn-blue {
    background-color: var(--dark-blue);
}

.btn-red {
    background-color: var(--dark-red);
}