:root {
    --black:        #000000;
    --white:        #FFFFFF;
    --gray:         #C0C0C0;
    --dark-gray:    #333333;
    --dark-green:   #AAC8A7;
    --light-green:  #C3EDC0;
    --dark-red:     #E97777;
    --light-red:    #FF9F9F;
    --dark-yellow:  #F1C27B;
    --light-yellow: #FFD89C;
    --dark-blue:    #6096B4;
    --light-blue:   #93BFCF;
    --nearly-black: #222222;
}